<!DOCTYPE html>

{% load static %}

<link
        rel="stylesheet"
        type="text/css"
        href="{% static 'home/css/bootstrap.css' %}"
/>

<link
        rel="stylesheet"
        type="text/css"
        href="{% static 'home/css/style.css' %}"
/>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste INOA</title>
</head>
<body>
    <section>
        <h1>Olá, {{user_detail}}</h1>
    </section>
    <section>
        <div class="col-12">
            <p>{{advice}}</p>
        </div>
    </section>

</body>
</html>
